@font-face {
    font-family: "DINBlack";
    src: url("DIN-Black.ttf") format("woff")
}

@font-face {
    font-family: "DINRegular";
    src: url("DINMedium.ttf") format("woff")
}

@font-face {
    font-family: "DINCondensed-Bold";
    src: url("D-DINCondensed-Bold.ttf") format("woff")
}

html{
    scroll-behavior: smooth;
}

.ak_card_header{
    font-family: 'DINBlack';
    border-radius: 0px !important;
}

.ak_card_subtitle{
    color: #BE2131;
    font-family: 'DINRegular';
    font-weight: lighter;
    margin-top: 1em;
}

.ak_desc_img{
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 5px;
    
}

.ak_img{
    display: flex;
    flex-direction: row !important;
}

.ak_img_desc {
    font-family: 'DINRegular';
    font-size: 14px;
    text-align: center;
    padding-top: 1rem;
  }

.ak_gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    display: inline;
    width: 100px;
   
  }

  div.ak_gallery img {
    object-fit: cover;
    padding-right: 1px;

   
  }


.ak_room_title{
    color: #1D78BA;
    font-family: 'DINCondensed-Bold';
    font-size: 24px;
}

.ak_room_speaker{
    color: #1D78BA;
    font-family: 'DINRegular';
}

.ak_room_descp{
    font-family: 'DINRegular';
}

.ak_date{
    color: #1D78BA;
    font-family: 'DINRegular';
    opacity: 0.9;
}

.ak_card_footer{
    background: #E7E7E8;
}

.ak_card_title{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.card-room{
    color: #ffffff;
}

.ak_card_body {
    background: #ffffff;
}

.custom_border_left{
    border-left-width: 25px;
}

.modal-xl{
    max-width: 1200px;
    width: max-content;
}
.modal-dialog{
    background-color: #ffffff;
}
.modal-image{
    max-height: 90vh;
}
.close-modal{
    position: absolute;
    background-color: #ffffff;
    top: 0;
    right: 0;
    cursor: pointer;
}
@media(max-width:768px){
    .ak_date{
        color: #1D78BA;
        font-family: 'DINRegular';
        opacity: 0.9;
        display: block;
        float: unset !important;
    }
    .custom_border_left{
        border-left-width: 15px;
    }
}

.active{
    color:#BE2131;
}

.more{
    background: #E7E7E8 !important;
    margin-bottom: 0px;
}
.mt-310{
    padding: 5px 10px 10px 10px;
    margin: 0px 10px 0px 0px;
}

.flag {
  width: 30px;
  height: 30px;
  vertical-align: top;
}

.status {
  color: #BE2131;
  font-family: 'DINRegular';  
}

.cal_summary {
  color: #BE2131;
  font-family: 'DINRegular';  
}

.info {
  font-weight: bold;
}

.tabletop-sim {
  color: #BE2131;
}


.offline-page {
    padding: 0px;
    width: auto;
    max-width: 1000px;
    display: flex;
    margin: auto
    ;
    
  }

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    text-align: center !important;
}
.expect_ratio_images{
    width: 100%;
    position: relative;
    padding-top: 100%;
    overflow: hidden;
}
.ak_img_detail{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-height: 100%;
}
.offline-icon{
    display: inline-block;
    width: 300px !important;
  
}
.image_slider{
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}
.slick-prev:before, .slick-next:before{
    color: #000000;
}

